img{
    max-width: 100%;
}



figure{
    margin-bottom: 0;
}


.marchio{
    min-height: 45px;
}

.logo_sony:hover{
    cursor: pointer;
}


.bottone-pillola{
    border-radius: 9999999px;
}

.lente{
    width: 30px;
}