img{
    max-width: 100%;
}



figure{
    margin-bottom: 0;
}


header{
    display: contents;
}

li{
    list-style: none;
}



.marchio{
    min-height: 45px;
}

.logo_sony{
    width: 70px;
}

.logo_sony:hover{
    cursor: pointer;
}


.bottone-pillola{
    border-radius: 9999999px;
}

.lente{
    width: 30px;
}

.contenitore_bottone:focus, .contenitore_bottone:hover{
    background-color: white;
}

.icona_dropdown{
    max-width: 90px;
   
}
/* .bottone_icona_dropdown{
    padding: 10px 50px;
} */

.bottone_icona_dropdown:hover{
    border: 1px solid lightgrey;
    
    box-shadow: 3px 3px 2px 0 rgba(0, 0, 0, 0.1);
    transition: 2ms;
}

.lista_nav_dropdown li{
    padding: 0 15px;
}

.lista_nav_dropdown li::before{
    content: "\2022";
    color: var(--bs-blue);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    scale: 1.9;
    padding-bottom: 2px;
}

.lista_nav_dropdown a{
    text-decoration: none;
    color: black;
}

.lista_nav_dropdown a:hover{
    color: var(--bs-blue);
}

.titolo_card_dropdown{
    font-size: 15px;
}


.lista_nav_dropdown:hover, .lista_nav_dropdown:focus{
    background-color: white;
}

/* main */

.game{

    background-size: cover;
    background-position: center;
    min-height: 590px;
}

.riga_sezione_game{
    min-height: 590px;
}



.img_logo_gioco{
    width: 200px;
    margin-left: -9px;
}



.game_returnal{
    background-image: url(img/jumbo-bg.png);
}

.game_takestwo{
    background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
}

.card_game{
    border-radius: 15px;
    overflow: hidden;
    border: 4px solid transparent;
    transition: all 0.1s ease-in-out;
}

.card_game.active, .card_game:hover{
    border: 4px solid var(--bs-blue);
    box-shadow: inset 0 0 2px white;
    outline: 4px solid white;
    outline-offset: -8px;
}


.col_card_game:hover .card_game{
    transform: translateY(-20px) ;
}

.img_card_play5{
    max-width: 100px;
}

.card_play5_active::after{
    content: "";
    display: block;
    border: 1px solid var(--bs-blue);
    width: 150px;
    margin-top: 10px;
}

.card_play5{
    position: relative;
}

.card_play5::after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    opacity: 0.5;
}


.card_play5:hover.card_play5::after{
    opacity: 0;

}


.card_play5:hover, .card_play5_active:hover{
    transform: translateY(-20px);
}

.card_play5, .card_play5_active{
    transition: all 0.1s ease-in-out;
}

.img_card_nuove_uscite{
    border-radius: 30px;
    overflow: hidden;
}

.logo_plus, .logo_now{
    max-width: 340px;
}

.background_gray{
    background-color: rgb(178, 177, 176);
}


.bakg_btn_gray{
    background-color: rgb(213, 213, 215);
}

.background_bludark{
    background-color: rgb(22, 27, 50);
}

.background_bluchiaro{
    background-color: rgb(7, 61, 140);
}

.logo_footer img{
    width: 100%;
}

.logo_footer{
    max-width: 100px;
}

.sie_logo{
    max-width: 200px;
}